.message_box {
  margin: auto 0 auto 0;
  background-color: transparent;
  display: flex;
  bottom: 0mm;
}

.username {
  color: darkcyan;
  margin: auto 1vh;
  margin-left: 2rem;
  padding: 0;
}

.message_box:hover {
  background-color: rgb(9, 9, 22);
}

.profile {
  display: flex;
}
.profile_picture {
  width: 40px;
  border-radius: 50%;
  margin: auto 0 auto 1vw;
}

.message_div {
  color: aliceblue;
  margin-left: 2vw;
}

.del {
  cursor: pointer;
  margin: auto 3vw auto auto;
  tab-size: 1rem;
  font-weight: 800;
  color: grey;
}
.del:hover {
  color: brown;
}
.message_element {
  margin: auto 0 0 0;
  width: 65vw;
  word-break: break-all;
}
